/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
1config-core/dev/kms.clj
1config-ui/resources/public/cljs
/1config-ui/.rebel_readline_history
/1config-ui/figwheel_server.log
/1config-cli/reports/
