{:cljdoc.doc/tree
 [["Readme" {:file "README.md"}]
  ["Changelog" {:file "CHANGELOG.md"}]

  ["User guides" {}
   ["Quick Start" {:file "doc/quick-start.md" }]
   ["Migration Procedure" {:file "doc/migration-procedure.md" }]
   ["Security Model" {:file "doc/security-model.md" }]
   ["Best practices" {:file "doc/best-practices.md" }]
   ["Configuration resolution" {:file "doc/config-resolution.md" }]
   ["Command line tool" {:file "doc/cli-tool.md" }]
   ["UI tool" {:file "doc/ui-tool.md" }]
   ["Key management" {:file "doc/key-management.md" }]
   ["Providers chain" {:file "doc/providers.md" }]
   ["Local development" {:file "doc/local-development.md" }]
   ["User profiles" {:file "doc/user-profiles.md" }]
   ["F.A.Q." {:file "doc/faq.md" }]]

  ["Application guides" {}
   ["Usage with Clojure programs" {:file "doc/usage-with-clojure.md" }]
   ["Usage with Java programs" {:file "doc/usage-with-java.md" }]]

  ["DevOps guides" {}
   ["Terraform scripts" {:file "doc/terraform.md" }]
   ["AWS permissions" {:file "doc/aws-permissions.md" }]]

  ["Internal development" {}
   ["HowTo prepare a release" {:file "doc/howto-release.md" }]]
  ]}
