body {
    background-color: #f5f7fa;
    font-family: 'Cardo', serif;
}

.disable-body-scroll {
    overflow: hidden;
}

.modal-selector {
    font-family: 'Cardo', serif;
    font-size: 12px;
}

.master-key-width {
    width: 30px;
}


/*Loader start*/
#loader {
    animation: animate 1.5s linear infinite;
    clip: rect(0, 80px, 80px, 40px);
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
}
@keyframes animate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(220deg)
    }
}
#loader:after {
    animation: animate2 1.5s ease-in-out infinite;
    clip: rect(0, 80px, 80px, 40px);
    content:'';
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
}
@keyframes animate2 {
    0% {
        box-shadow: inset #2382ca 0 0 0 17px;
        transform: rotate(-140deg);
    }
    50% {
        box-shadow: inset #2382ca 0 0 0 2px;
    }
    100% {
        box-shadow: inset #2382ca 0 0 0 17px;
        transform: rotate(140deg);
    }
}
/*Loader stop*/

/** Modal Window style start */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.ui[class*="right ribbon"].label {
    left: calc(100% - 6.5rem);
    padding-left: 1.2em;
    padding-right: calc(1rem + 1.2em);
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.edit-background {
    width: 284px;
    height: 420px;
    background-color: #fff;
    margin-top: -10px;
    padding-top: 22px;
}

/** Modal Window Style end */


/*override grid style for menu block*/
.ui.grid {
    margin-top: 1rem;
}

#jsEditor {
    height: 83vh;
}

.overflow-class {
    overflow-y: scroll;
    color: white; /*workaround for  '[ctl/highlight-code-block true]' which produces the value */
}

/* Hides scrollbar*/
.overflow-class::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.ui.form input[type=text] {
    font-family: 'Cardo', serif;
    font-size: 14px;
    padding-left: 9px;
}

select.ui.dropdown {
    font-family: 'Cardo', serif;
    font-size: 14px;
}

.ui.divider {
    text-transform: none;
}

.ui.segment {
    margin-left: 19px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.sticky-nav-bar {
    background: #2382ca;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.footer {
    position: fixed;
    color: grey;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

/*slider style*/
.switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 21px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c0c1c1;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 0px;
    bottom: 0px;
    background-color: #f9f9f9;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #c0c1c1;
}

input:focus + .slider {
    box-shadow: 0 0 1px #c0c1c1;
}

input:checked + .slider:before {
    -webkit-transform: translateX(29px);
    -ms-transform: translateX(29px);
    transform: translateX(29px);
}

.slider.round {
    border-radius: 60px;
}

.slider.round:before {
    border-radius: 70%;
}

.minified-mode-label {
    margin-left: 3px;
}
/*slider style end*/

/*Tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.onecfg-filter-block {
    margin: 3px;
}

.show-element {
    display: block;
}
.hide-element {
    display: none;
}

.filter-input-width {
    width: 115px;
}

.config-table-scroll {
    margin-bottom: 34px;
}

.shrink-column {
    width: 10%;
    white-space: nowrap;
}